@media(max-width: 575px) {
	html {
		font-size: 1.1vw;
	}
}

@media(min-width: 576px) {
	html {
		font-size: 5.4px;
	}
}

@media(min-width: 768px) {
	html {
		font-size: 7.2px;
	}
}

@media(min-width: 992px) {
	html {
		font-size: 9.6px;
	}
}

@media(min-width: 1200px) {
	html {
		font-size: 11.4px;
	}
}